<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<footer class="footer" th:fragment="footer">
		<div class="container-fluid">
			<nav class="pull-left">
				<ul>
					<li><a target="_blank" href="https://github.com/liebig/lighthouse"> Github </a></li>
					<li><a target="_blank" href="https://opensource.org/licenses/MIT"> Licenses </a></li>
				</ul>
			</nav>
			<div class="copyright pull-right">
				&copy;
				<script>
					document.write(new Date().getFullYear())
				</script>, by <a target="_blank" href="https://github.com/liebig">Marc Liebig</a>
			</div>
		</div>
	</footer>

	<div th:fragment="bootstrap">
		<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap-notify.min.js}"></script>
		<script th:src="@{/bootstrap/js/toast.js}"></script>
	</div>

	<div th:fragment="vue">
		<script th:src="@{/js/vue.min.js}"></script>
		<script th:src="@{/js/vue-resource.min.js}"></script>
	</div>

</body>
</html>