<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: head">
</head>
<body>

	<div id="app" class="wrapper">

		<div class="main-panel">

			<div th:replace="fragments/header :: navbar"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">

						<div class="col-md-12">
							<div class="nb-error">
								<div class="error-code">500</div>
								<h3 class="font-bold">Ooops..</h3>

								<div class="error-desc">
									Something went wrong.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer" th:replace="fragments/footer :: footer"></footer>

		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="registerDoKey" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Register Digital
						Ocean API Key</h4>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

</body>

<div th:replace="fragments/footer :: bootstrap"></div>

</html>