<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: head">
</head>
<body>

	<div id="app">
		<div class="wrapper">

			<div class="main-panel">

				<div th:replace="fragments/header :: navbar"></div>

				<div class="content">
				
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-warning text-center">
													<i class="ti-plug"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													Rate Limit
													<p>Limit: {{ account.rateLimit.limit }}</p>
													<p>Remaining: {{ account.rateLimit.remaining }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-success text-center">
													<i class="ti-server"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													Server limit
													<p>Droplets: {{ account.dropletLimit }}</p>
													<p>Floating IPs: {{ account.floatingIPLimit }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-danger text-center">
													<i class="ti-email"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													E-Mail
													<p>{{ account.email }}</p>
													<p>Verified: {{ account.emailVerified }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-info text-center">
													<i class="ti-user"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													Account
													<p>Status: {{ account.status }}</p>
													<p>&nbsp;</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<footer class="footer" th:replace="fragments/footer :: footer"></footer>

			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="registerDoKey" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Register Digital
							Ocean API Key</h4>
					</div>
					<form v-on:submit.prevent="registerApiKey">
						<div class="modal-body">
							<input type="text" id="apikey" name="apikey" class="form-control"
								placeholder="API Key" required="required" autofocus="true" />
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<div th:replace="fragments/footer :: bootstrap"></div>
<div th:replace="fragments/footer :: vue"></div>

<script>
	var token = $("meta[name='_csrf']").attr("content"); 
	var header = $("meta[name='_csrf_header']").attr("content");

	var app = new Vue({
		el : '#app',
		mounted : function() {
			this.$http.get('/account').then(function(response) {
				if (response.body) {
					this.account = response.body;
					this.setInterval();
				} else {
					$('#registerDoKey').modal({
						backdrop : 'static',
						keyboard : false
					});
					$('#registerDoKey').modal('show');
				}

			}, function(response) {
				toast("Cannot load account.", "danger");
			});
		},
		data : {
			account: {
				"rateLimit": {
		    		"limit": 0,
		    		"remaining": 0,
			    	"reset": 0
		  		},
	  			"email": "",
			  	"uuid": "",
			  	"dropletLimit": 0,
			  	"status": "",
			  	"statusMessage": "",
			  	"floatingIPLimit": 0,
			  	"emailVerified": false
			}
		},
		methods : {
			setInterval : function() {
				setInterval(function () {
				      this.loadAccount();
		   		}.bind(this), 5000); 
			},
			loadAccount : function() {
				this.$http.get('/account').then(function(response) {
					if (response.body) {
						this.account = response.body;
					} else {
						toast("Cannot load account.", "danger");
					}
				}, function(response) {
					toast("Cannot load account.", "danger");
				});
			},
			
			registerApiKey : function(event) {
				
				this.$http.post('/account', {apiKey: $('#apikey').val()}, { headers: { 'X-CSRF-TOKEN': token}}).then(function (response) {

					if (response.body) {
						toast("API key successfully saved.", "success");
						this.setInterval();
						$('#registerDoKey').modal('hide');
					} else {
						toast("Invalid API key - please try again.", "danger");	
					}
				  }, function(response) {
					  toast("Invalid API key - please try again.", "danger");
				  });
				
			}
		}
	})
</script>

</html>