<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: head">
</head>
<body>

	<div id="app">
		<div class="wrapper">

			<div class="main-panel">

				<div th:replace="fragments/header :: navbar"></div>

				<div class="content">
				
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-warning text-center">
													<i class="ti-plug"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													Rate Limit
													<p>Limit: {{ account.rateLimit.limit }}</p>
													<p>Remaining: {{ account.rateLimit.remaining }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-success text-center">
													<i class="ti-dashboard"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													Server limit
													<p>Droplets: {{ account.dropletLimit }}</p>
													<p>Floating IPs: {{ account.floatingIPLimit }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-danger text-center">
													<i class="ti-email"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													E-Mail
													<p>{{ account.email }}</p>
													<p>Verified: {{ account.emailVerified }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-info text-center">
													<i class="ti-user"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													Account
													<p>Status: {{ account.status }}</p>
													<p>&nbsp;</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6" v-for="droplet in droplets">
								<div class="card">
									<div class="content">
										<div class="row">
											<div class="col-xs-5">
												<div class="icon-big icon-info text-center">
													<i class="ti-server"></i>
												</div>
											</div>
											<div class="col-xs-7">
												<div class="numbers">
													<a v-if="droplet.networks.version4Networks[0]" :href="'http://' + droplet.networks.version4Networks[0].ipAddress" target="_blank">{{ droplet.networks.version4Networks[0].ipAddress }}</a>
													<p>{{ droplet.name }}</p>
													<p>Memory: {{ droplet.memorySizeInMb }} MB</p>
													<p>CPUs: {{ droplet.virutalCpuCount }}</p>
													<p>SSD: {{ droplet.diskSize }} GB</p>
													<p>Status: {{ droplet.status }}</p>
													<hr />
													<button v-on:click="deleteApp(droplet.id)" type="button" class="btn btn-danger">Delete</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<footer class="footer" th:replace="fragments/footer :: footer"></footer>

			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="registerDoKey" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Register Digital Ocean API Key</h4>
					</div>
					<form v-on:submit.prevent="registerApiKey">
						<div class="modal-body">
							<input type="text" id="apikey" name="apikey" class="form-control"
								placeholder="API Key" required="required" autofocus="true" />
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Modal -->
		
		<!-- Modal -->
		<div class="modal fade" id="addApp" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Create App</h4>
					</div>
					<form v-on:submit.prevent="addApp">
						<div class="modal-body">
							<input type="hidden" id="region" value="fra1" />
							
							<select id="size">
							  <option value="512mb">512 MB / 1 CPU / 20 GB SSD</option>
							  <option value="1gb">1 GB / 1 CPU / 30 GB SSD</option>
							  <option value="2gb">2 GB / 2 CPU / 40 GB SSD</option>
							</select>
							
							<select id="softwareEnum">
							  <option value="APACHE">Apache</option>
							  <option value="NGINX">nginx</option>
							</select>

						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Modal -->
		
		
		
	</div>
</body>

<div th:replace="fragments/footer :: bootstrap"></div>
<div th:replace="fragments/footer :: vue"></div>

<script>
	var token = $("meta[name='_csrf']").attr("content"); 
	var header = $("meta[name='_csrf_header']").attr("content");
	
	var csrfHeader = {}
	csrfHeader[$("meta[name='_csrf_header']").attr("content")] = $("meta[name='_csrf']").attr("content");

	/*<![CDATA[*/
	var app = new Vue({
		el : '#app',
		mounted : function() {
			this.$http.get('/account').then(function(response) {
				if (response.body) {
					this.account = response.body;
					this.loadApps();
					
				} else {
					toast("Cannot load account.", "danger");
				}
				this.setInterval();
			}, function(response) {
				this.showApiKeyModal();
			});
		},
		data : {
			account: {
				"rateLimit": {
		    		"limit": 0,
		    		"remaining": 0,
			    	"reset": 0
		  		},
	  			"email": " ",
			  	"uuid": " ",
			  	"dropletLimit": 0,
			  	"status": " ",
			  	"statusMessage": " ",
			  	"floatingIPLimit": 0,
			  	"emailVerified": false
			},
			droplets: []
		},
		methods : {
			showApiKeyModal : function() {
				$('#registerDoKey').modal({
					backdrop : 'static',
					keyboard : false
				});
				$('#registerDoKey').modal('show');
			},
			showAddAppModal : function() {
				$('#addApp').modal('show');
			},
			hideAddAppModal : function() {
				$('#addApp').modal('hide');
			},
			setInterval : function() {
				setInterval(function () {
					this.loadData();      
		   		}.bind(this), 5000); 
			},
			loadData : function() {
	      		this.loadApps();
	      		this.loadAccount();
			},
			loadAccount : function() {
				this.$http.get('/account').then(function(response) {
					if (response.body) {
						this.account = response.body;
					} else {
						toast("Cannot load account.", "danger");
					}
				}, function(response) {
					toast("Cannot load account.", "danger");
				});
			},
			loadApps : function() {
				this.$http.get('/server').then(function(response) {
					if (response.body && response.body.droplets) {
						this.droplets = response.body.droplets;
					} else {
						toast("Cannot load apps.", "danger");
					}
				}, function(response) {
					toast("Cannot load apps.", "danger");
				});
			},
			registerApiKey : function(event) {
				
				this.$http.post('/account', {apiKey: $('#apikey').val()}, { headers: csrfHeader}).then(function (response) {

					if (response.body) {
						toast("API key successfully saved.", "success");
						this.loadData();
						this.setInterval();
						$('#registerDoKey').modal('hide');
					} else {
						toast("Invalid API key - please try again.", "danger");	
					}
				  }, function(response) {
					  toast("Invalid API key - please try again.", "danger");
				  });
				
			},
			addApp : function(event) {
				
				var data = {}
				data["region"] = $("#region").val();
				data["size"] = $("#size").val();
				data["softwareEnum"] = $("#softwareEnum").val();
				
				this.$http.post('/server', data, { headers: { 'X-CSRF-TOKEN': token}}).then(function (response) {

					if (response.body) {
						toast("App created.", "success");
						this.loadData();
						this.hideAddAppModal();
					} else {
						toast("Cannot create app - please try again.", "danger");	
					}
				  }, function(response) {
					  toast("Cannot create app - please try again.", "danger");
				  });
				
			},
			deleteApp : function(id) {
				this.$http.delete('/server', { headers: csrfHeader, body: {id:  id}}).then(function (response) {
						toast("App deleted.", "success");
						this.loadApps();
				  }, function(response) {
					  this.loadApps();
					  toast("Cannot delete app - please try again.", "danger");
				});
			}
			
		}
	})
	/*]]>*/
</script>

</html>